.brand__logo {
  width: 70%;
}

.hero__title {
  line-height: 4.7rem;
  margin-bottom: 2rem;
}

/* START NOW FORM */

/* Padding between input */
.form__col {
  padding: 0 0.4rem;
}

/* Input form transparency */

.form-light {
  background-color: hsla(0, 100%, 100%, 0.12);
  color: #fff;
}

.form-light::placeholder {
  color: hsla(0, 0%, 100%, 0.7);
}

.form-light::-webkit-placeholder {
  color: hsla(0, 0%, 100%, 0.7);
}

.form-light:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.7);
}

.form-light::-moz-placeholder {
  color: hsla(0, 0%, 100%, 0.7);
}

.form-light:focus {
  background-color: hsla(0, 100%, 100%, 0.12);
  color: #fff;
}

/* Send button */

.form__btn--custom {
  line-height: 1.2rem;
  width: fit-content;
  height: calc(2.5625rem + 2px);
  padding: 0.625rem;
}

@media (min-width: 576px) {
  .form__btn--custom {
    width: 15%;
  }
}

@media (min-width: 768px) {
  .form__btn--custom {
    width: 100%;
  }
}

/* SUBSCRIBE FORM */

.form__btn--rounded {
  border-top-right-radius: 6.1875rem !important;
  border-bottom-right-radius: 6.1875rem !important;
}

/* Error and success messages */

#mc_embed_signup div.mce_inline_error {
  width: 100% !important;
  margin: 0.7rem 0 !important;
  padding: 0.5rem 1rem !important;
  font-size: 0.9rem !important;
  color: #de4437 !important;
  background: rgba(255, 255, 255, 0.8) !important;
  font-weight: 400 !important;
  z-index: 1 !important;
  border-radius: 0.25rem;
  box-shadow: 0 0 25px rgba(119, 131, 143, 0.1);
}

#mc_embed_signup input.mce_inline_error {
  border-color: #de4437 !important;
  border-right: solid 1px;
}

.response {
  width: 100%;
  margin: 1.2rem auto;
  padding: 1rem;
  font-size: 0.9rem;
  color: #33c9a6;
  background: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  z-index: 1;
  border-radius: 0.25rem;
  box-shadow: 0 0 25px rgba(119, 131, 143, 0.1);
}

/* FOOTER */

.footer-row__right {
  justify-content: center;
}

@media (min-width: 768px) {
  .footer-row__right {
    justify-content: flex-end;
  }
}

.footer-row__left {
  justify-content: center;
}

@media (min-width: 768px) {
  .footer-row__left {
    justify-content: flex-start;
  }
}
