/* Lorraine */
.brand__logo {
  width: 70%;
}
.hero__title {
  line-height: 4.7rem;
  margin-bottom: 2rem;
}
.quote__img {
  width: 100%;
  height: auto;
}
.form__btn--rounded {
  border-top-right-radius: 6.1875rem !important;
  border-bottom-right-radius: 6.1875rem !important;
}

#mc_embed_signup div.mce_inline_error {
  width: 100% !important;
  margin: 0.7rem 0 0.7rem !important;
  padding: 0.5rem 1rem !important;
  font-size: 0.9rem !important;
  color: #de4437 !important;
  background: rgba(255, 255, 255, 0.8) !important;
  font-weight: 400 !important;
  z-index: 1 !important;
  border-radius: 0.25rem;
  box-shadow: 0 0 25px rgba(119, 131, 143, .1);
}
#mc_embed_signup input.mce_inline_error {
  border-color: #de4437 !important;
  border-right: solid 1px;
}
.response {
  width: 100%;
  margin: 1.2rem auto 1.2rem;
  padding: 1rem;
  font-size: 0.9rem;
  color: #33C9A6;
  background: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  z-index: 1;
  border-radius: 0.25rem;
  box-shadow: 0 0 25px rgba(119, 131, 143, .1);
}

.footer-row__right { justify-content: center; }
@media (min-width: 576px) {
  .footer-row__right { justify-content: flex-end; }
}
.footer-row__center { justify-content: center; }
@media (min-width: 576px) {
  .footer-row__center { justify-content: flex-start; }
}
@media (min-width: 768px) {
  .footer-row__center { justify-content: center; }
}

.footer-row__left { justify-content: center; }
@media (min-width: 576px) {
  .footer-row__left { justify-content: flex-start; }
}