/* Lorraine */
.brand__logo {
  width: 70%;
}
.hero__title {
  line-height: 4.7rem;
  margin-bottom: 2rem;
}
.quote__img {
  width: 100%;
  height: auto;
}
.form__btn--rounded {
  border-top-right-radius: 6.1875rem !important;
  border-bottom-right-radius: 6.1875rem !important;
}
.footer-row__right { justify-content: center; }
@media (min-width: 576px) {
  .footer-row__right { justify-content: flex-end; }
}
.footer-row__center { justify-content: center; }
@media (min-width: 576px) {
  .footer-row__center { justify-content: flex-start; }
}
@media (min-width: 768px) {
  .footer-row__center { justify-content: center; }
}

.footer-row__left { justify-content: center; }
@media (min-width: 576px) {
  .footer-row__left { justify-content: flex-start; }
}